
/**
 * 时间差不多了
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 *
 * 感谢收看
 *
 * 希望你们喜欢这个
 *
 *
 *
 */

/**
 *
 *
 *
 * 顺便说一下，你可以编辑这个框。尝试添加新的CSS!
 *
 *  例如,“text-shadow”属性接受以下参数:
 *“x”、“y”、“blur”、“color”。
 *
 *所以如果我想镜像这些值，我可以在它下面放置一个15px的阴影，效果有点模糊:
 *
 *
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 *
 *
 * 试一下!你可以做很多事情。
 * 尝试使用文本大小，阴影，动画，或只是
 *
 */


