
/**
 * 简历要有个简历到样子
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 准备
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 *
 * ？应该没出bug
 *
 *  好像👌了吧
 */
